<demo-header></demo-header>
<div class="container">
  <!-- <a class="logo" routerLink="/"></a> -->

  <div class="content">
    <nav class="own-nav-tabs">
      <a class="own-nav-link active" routerLink="/login">Log in</a>
      <a class="own-nav-link" routerLink="/register">Create Account</a>
    </nav>

    <form class="own-form" [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="errors" *ngIf="errors">{{errors}}</div>

      <input class="own-input inline-email" type="email" placeholder="Email" formControlName="email">

      <input class="own-input inline-password" type="password" placeholder="Password" formControlName="password">

      <ownid type="login" (onLogin)="onLogin($event)"
             [inline]="{ targetElement: '.inline-password', userIdElement: '.inline-email', offset: [0, -10] }"

      ></ownid>

      <div class="text">
        <a class="forgot-link" routerLink="/forgot-password">Can't login?</a>
      </div>

      <button class="own-button" type="submit">Log In</button>

    </form>
  </div>

</div>
<demo-footer></demo-footer>


