<div class="container">
  <nav class="top-nav">
    <a class="logo" routerLink="/"></a>

    <div class="top-navigation">
      <a class="top-nav-item">About</a>
      <a class="top-nav-item">Help</a>
      <a class="top-nav-item" routerLink="/login">Log In</a>
      <a class="top-nav-item" routerLink="/register">Create Account</a>
    </div>
  </nav>

  <header class="header">
    <h1 class="title">Stay<br>Noted<br>Here.</h1>
    <div class="slogan">The simplest way to keep and access your notes everywhere for free.</div>
  </header>
  <div class="main">
    <div class="image"></div>

    <div class="items">
      <div class="item">
        <div class="item-title">Use it anywhere</div>
        <div class="item-text">Stay noted across all our devices. No buttons to press. It just works.</div>
      </div>

      <div class="item">
        <div class="item-title">Always free</div>
        <div class="item-text">Stay noted completely free.</div>
      </div>

      <div class="item">
        <div class="item-title">Clean and simple</div>
        <div class="item-text">No ads. No fuss. Just notes.</div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <div class="copy item-copy">© 2020 OwnID by SAP</div>

    <nav>
      <div class="footer-navigation">
        <a class="footer-nav-item item-copy" href="#">About</a>
        <a class="footer-nav-item item-copy" href="#">OwnId Documentation</a>
        <a class="footer-nav-item item-copy" href="#">Terms</a>
        <a class="footer-nav-item item-copy" href="#">Privacy</a>
      </div>
    </nav>
  </footer>
</div>