<div class="account-popup">
  <div class="overlay"></div>
  <div class="popup-content">
    <div class="popup-title">Account</div>

    <form class="own-form" [formGroup]="form">
      <div class="errors" *ngIf="errors$ | async as errors">{{ errors }}</div>

      <input class="own-input" type="text" placeholder="First Name" formControlName="name" readonly />

      <input class="own-input" type="email" placeholder="Email" formControlName="email" readonly />

      <ownid type="link" [tooltip]="true" (onLink)="onLink()" (onError)="onError($event)"></ownid>
    </form>
    
    <div class="row">
      <div class="own-stroked-button close-button" (click)="onClick.emit()">Close</div>
    </div>
  </div>
</div>
