:host {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  contain: layout size style;
  overflow: hidden;
  z-index: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.ownid-icon-main {
  text-align: center;
}

.ownid-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 41px;

  text-align: center;
  letter-spacing: 0.37px;

  color: #000000;

  margin: 36px 0 16px;
}
.ownid-description {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;

  text-align: center;
  letter-spacing: -0.41px;

  color: rgba(60, 60, 67, 0.6);

  margin: 0;
}

.own-button {
  height: 56px;
  margin-bottom: 35px;
  background: #007AFF;
  border-radius: 14px;
  width: calc(100% - 32px);
}

.row {
  display: flex;
  justify-content: center;
}

.ownid-about {
  text-decoration: none;
  margin-left: 8px;
  margin-top: 2px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;

  letter-spacing: -0.24px;

  color: #000000;
}

.cta-section {
  margin-bottom: 6vh;
  width: 100%;
  text-align: center;
}