<section class="sign-body">
  <div class="container">
    <div class="call-2-action">
      <h1 class="headline">
        For the best experience use Own Id for login
      </h1>
      <h2 class="sub-title">
        Scan QR code with your phone and proceed with out any logins and
        passwords
      </h2>
    </div>
    <div>
      <mat-card class="sign-section">
        <mat-card-title>
          Set New password or use OwnId to recover your account
        </mat-card-title>

        <ng-container *ngIf="pwrt$ | async as pwrt">
          <ownid type="recover" [data]="{pwrt:pwrt}" (onRecover)="onRecover($event)"></ownid>

          <div class="or">OR</div>

          <form [formGroup]="form" (ngSubmit)="onSubmit(pwrt)">
            <p>
              <span class="errors" *ngIf="errors">{{errors}}</span>
            </p>
            <p>
              <mat-form-field class="form-field">
                <mat-label>Set New Password</mat-label>
                <input
                    matInput
                    placeholder="New Password"
                    formControlName="password"
                    type="password"
                    required
                />
              </mat-form-field>
            </p>
            <p>
              <mat-form-field class="form-field">
                <mat-label>Confirm Password</mat-label>
                <input
                    matInput
                    placeholder="Confirm Password"
                    formControlName="confirmPassword"
                    type="password"
                    required
                />
              </mat-form-field>
            </p>
            <button mat-flat-button color="primary" class="form-field" type="submit">Set new Password</button>
          </form>
        </ng-container>
      </mat-card>
    </div>
  </div>
</section>





