<section class="sign-body">
  <div class="container">
    <div class="call-2-action">
      <h1 class="headline">
        For the best experience use Own Id for login
      </h1>
      <h2 class="sub-title">
        Scan QR code with your phone and proceed with out any logins and
        passwords
      </h2>
    </div>
    <div>
      <mat-card class="sign-section">
        <mat-tab-group mat-stretch-tabs animationDuration="0ms">
          <mat-tab label="Login">
            <ownid type="login" [partial]="true"></ownid>
            <login-form></login-form>
          </mat-tab>
          <mat-tab label="Register">
            <registration-form></registration-form>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
  </div>
</section>
