<section class="sign-body">
  <div class="container">
    <div class="call-2-action">
      <h1 class="headline">
        For the best experience use Own Id for login
      </h1>
      <h2 class="sub-title">
        Scan QR code with your phone and proceed with out any logins and
        passwords
      </h2>
    </div>
    <div>
      <mat-card class="sign-section">
        <mat-card-title>
          Recover account
        </mat-card-title>

        <ng-container *ngIf="!emailSent; else emailWasSent">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <p>
              <span class="errors" *ngIf="errors">{{errors}}</span>
            </p>
            <p>
              <mat-form-field class="form-field">
                <mat-label>Enter your email</mat-label>
                <input
                    matInput
                    placeholder="Email"
                    formControlName="email"
                    required
                />
                <mat-error *ngIf="form.controls.email.hasError('required')">You must enter a value</mat-error>
                <mat-error *ngIf="form.controls.email.hasError('email')">Not a valid email</mat-error>
              </mat-form-field>
            </p>
            <button mat-flat-button color="primary" class="form-field" type="submit">Reset Password</button>
          </form>
        </ng-container>

        <ng-template #emailWasSent>
          <div class="text">Recover account link was sent to you email address.</div>
        </ng-template>
      </mat-card>
    </div>
  </div>
</section>



