html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.or {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #5B738B;

  margin: 24px 0;

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    background: #D5DADD;
    height: 1px;
    width: calc(50% - 24px);

    bottom: 11px
  }

  &:after {
    right: 0;
  }
}