.toolbar {
  display: block;
  @media (max-width: 599px) {
    height: 96px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 12px;
  
  .row {
    height: 20px;
  }
}

@media (max-width: 599px) {
  .headline {
    margin-top: 20px;
  }
}

@media (min-width: 599px) {
  .header {
    flex-direction: row;

    max-width: 1100px;
    height: 64px;
    margin: 0 auto;
  }
}

