/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: sans-serif;
}

.icon {
  width: 24px;
  height: 24px;
  background: #354A5F;
  text-indent: 999px;
  cursor: pointer;
  overflow: hidden;
}