<div class="container">
  <a class="logo" routerLink="/"></a>

  <div class="content">
    <ng-container *ngIf="!emailSent; else emailWasSent">
      <div class="title">Reset Password</div>

      <form class="own-form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="errors" *ngIf="errors">{{errors}}</div>

        <input class="own-input" type="email" placeholder="Email" formControlName="email">

        <button class="own-button" type="submit">Reset Password</button>
      </form>
    </ng-container>
  </div>

  <ng-template #emailWasSent>
    <div class="text">Recover account link was sent to you email address.</div>
  </ng-template>
</div>


