<demo-header></demo-header>
<div class="container" *ngIf="pwrt$ | async as pwrt">
  
  <div class="content">
    <form class="own-form" [formGroup]="form" (ngSubmit)="onSubmit(pwrt)">
      <div class="title">Reset Login</div>

      <div class="description">Enter your new password or skip the password.</div>

      <div class="errors" *ngIf="errors$ | async as errors">{{errors}}</div>

      <input class="own-input inline-password" type="password" placeholder="New Password" formControlName="password">

      <input class="own-input inline-confirm-password" type="password" placeholder="Confirm Password" formControlName="confirmPassword">

      <ownid type="recover"
             [data]="{ pwrt:pwrt }"
             (onRecover)="onRecover($event)"
             (onError)="onError($event)"
             [inline]="{ targetElement: '.inline-password', additionalElements: ['.inline-confirm-password'], offset: [-10, 0] }"
      ></ownid>

      <button class="own-button" type="submit">Set new Password</button>
    </form>
  </div>
</div>
<demo-footer></demo-footer>


