:host {
  background: #E5E5E5;
}

.logo {
  margin: 0 auto;
}

.title {
  font-size: 20px;
  line-height: 32px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.container {
  max-width: 480px;
  width: calc(100% - 16px);
  margin: 48px auto 0;
}

.content {
  margin-top: 40px;
  padding: 24px 24px 32px;

  background: #FFFFFF;
  box-shadow: 0 8px 16px rgba(4, 172, 167, 0.16), 0 0 2px rgba(4, 172, 167, 0.16);
  border-radius: 6px;
}
