<div class="container" *ngIf="pwrt$ | async as pwrt">
  <a class="logo" routerLink="/"></a>

  <div class="content">
    <div class="title">Reset Password</div>

    <div class="description">Enter your new password.</div>

    <ownid type="recover" [data]="{pwrt:pwrt}" (onRecover)="onRecover($event)"></ownid>

    <div class="or">OR</div>

    <form class="own-form" [formGroup]="form" (ngSubmit)="onSubmit(pwrt)">
      <div class="errors" *ngIf="errors">{{errors}}</div>

      <input class="own-input" type="password" placeholder="New Password" formControlName="password">
      <input class="own-input" type="password" placeholder="Confirm Password" formControlName="confirmPassword">

      <button class="own-button" type="submit">Set new Password</button>
    </form>
  </div>
</div>


