:host {
  display: block;
  margin-top: 36px;
}

.form-field {
  width: 100%;
}

.forgot-link {
  color: #777777;
}

.errors {
  color: red;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}
