<form [formGroup]="form" (ngSubmit)="register()" >
<p>
  <span class="errors" *ngIf="errors">{{errors}}</span>
</p>
<p>
  <mat-form-field class="form-field">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Joe" formControlName="firstName" />
  </mat-form-field>
</p>
<p>
  <mat-form-field class="form-field">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Speen" formControlName="lastName" />
  </mat-form-field>
</p>
<p>
  <mat-form-field class="form-field">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      required
    />
    <mat-error *ngIf="form.controls.email.hasError('required')"
      >You must enter a value</mat-error
    >
    <mat-error *ngIf="form.controls.email.hasError('email')">Not a valid email</mat-error>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="form-field">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required />
    <button
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
</p>
<p>
  <mat-form-field class="form-field">
    <mat-label>Confirm password</mat-label>
    <input matInput [type]="hideConfirm ? 'password' : 'text'" required />
    <button
      mat-icon-button
      matSuffix
      (click)="hideConfirm = !hideConfirm"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hideConfirm"
    >
      <mat-icon>{{ hideConfirm ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  </mat-form-field>
</p>
<p>
  <button type="submit" mat-flat-button color="primary" class="form-field">
    Create Account
  </button>
</p>
</form>
