<header class="header">
  <!-- <div class="ownid-logo"> </div>   
  <img src="/assets/ownid-logo.svg" alt="logo" width="200" height="100" class=""> 
  <div class="slogan">This website is only for demoing purposes to showcase how the OwnID widget functions. <br/>
    <a href="" target="_blank"> Want to learn more? Contact us </a>
  </div>
  -->
<div class="row">
  <div class="column side"> <img src="/assets/ownid-logo.svg" alt="logo" width="140" height="50">  </div>
  <div class="column middle">This website is only for demoing purposes to showcase how the OwnID widget functions.
  <p><a href="mailto:contact@ownid.com"> Want to learn more? Contact us </a> </p>
  </div> 
    
</div>
</header>
